<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='icon' href='/favicon.ico'/>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/looks.css">
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

Response here: <p id="lblResponse">fill me in</p>

<!--Div that will hold the chart-->
<div id="timeline"></div>

<div id="advancedTimeline"></div>
</body>
</html>
